* 

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.body{
    text-align: center;
    background-color: black;
}
.home{
    text-decoration: none;
    color: white;
    
}
.button{
     border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(63, 63, 63);
}
.h2{
   color: white; 
   text-align: justify;
    margin-top: 50px;
    margin-bottom: -10px;
}
.p1{
    text-indent: 20px;
    text-align: justify;
    color: white;
    font-size: 13px;
}
.p2,.p3,
.p4{
    text-indent: 20px;
    
    text-align: justify;
    color: white;
    font-size: 13px;
    margin-top: -10px;
}
.container{
    text-align: center;
   margin: 80px;
}
