* html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.body {
    background-color: black;
    text-align: center;
}

.content-wrapper {
    display: inline-block;
    text-align: left;
    max-width: 800px;
    margin-top: 50px;
}

.back-link {
    text-decoration: none;
    color: rgb(168, 165, 165);
    font-size: 14px;
}

.button {
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 63, 63);
}

.p1 {
    text-indent: 20px;

    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 13px;
}