* html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.body {
    text-align: center;
    background-color: black;
}

.content-wrapper {
    display: inline-block;
    text-align: left;
    max-width: 800px;
    margin-top: 50px;
}

.back-link {
    text-decoration: none;
    color: rgb(168, 165, 165);
    font-size: 14px;
}

.button {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 63, 63);
}

.h2 {
    color: white;
    text-align: left;
    margin-top: 20px;
}

.p1 {
    text-indent: 20px;
    text-align: justify;
    color: white;
    font-size: 13px;
}

.p2,
.p3,
.p4 {
    text-indent: 20px;

    text-align: justify;
    color: white;
    font-size: 13px;
    margin-top: 10px;
}

.container {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .body {
        padding: 0 15px;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        font-size: 11px;
    }

    .h2 {
        font-size: 1.2rem;
    }
}