* 

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.background {
    text-align: justify;
    background-color: black;
}

.nav {
    margin-top: 30px;
   
}

.first,
.second,
.third {
    text-decoration: none;
    color: rgb(168, 165, 165);
  
}

.philosophy{
    text-decoration: none;
    text-align: justify;
    color: white;
   
    font-size: 12px;
}
.button{
    
    border-radius: 7px;
    margin-left: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(63, 63, 63);
}
.container{
    text-align:justify;
}
