* html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.body {
    background-color: black;
    text-align: center;
}

.content-wrapper {
    display: inline-block;
    text-align: left;
    max-width: 800px;
    margin-top: 50px;
    animation: slideIn 0.8s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.back-link {
    text-decoration: none;
    color: rgb(168, 165, 165);
    font-size: 14px;
}

.button {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: rgb(63, 63, 63);
}

.p1 {
    text-indent: 20px;

    margin-top: 30px;
    text-align: justify;
    color: white;
    font-size: 13px;
}

.container {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .body {
        padding: 0 15px;
    }

    .p1 {
        font-size: 11px;
    }
}