* html,
body {
    background-color: black;
    text-align: center;
}


.nav {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.first,
.second,
.third {

    text-decoration: none;
    color: rgb(168, 165, 165);

}

.main {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0%;

}

.content-wrapper {
    display: inline-block;
    text-align: left;
    max-width: 800px;
    /* or auto/unset to fit content */
}

.textbody {
    text-align: justify;
    text-indent: 10px;
    color: white;
    /* Removed display: inline-block; as it is now inside a wrapper */
}

.ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: left;
}

.find,
.me,
.he {
    text-decoration: none;
    font-size: 13px;
    color: rgb(168, 165, 165);

}

.last {
    text-decoration: none;
    font-size: 13px;
    color: rgb(148, 144, 144);

    margin-bottom: 20%;
}

.she {
    text-decoration: none;
    font-size: 13px;
    color: rgb(168, 165, 165);

    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.tittle {
    font-family: 'Comic Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.tittle span:after {
    content: "Python";
    animation: words 6s infinite;
}

@keyframes words {

    0%,
    33% {
        content: "Python";
        color: #d2d3d3;

    }

    34%,
    66% {
        content: "JavaScript";
        color: #797879;

    }

    67%,
    100% {
        content: "DataBase";
        color: #636159;

    }

    101%,
    134% {
        content: "HTML & CSS";
        color: #2f2e30;

    }

    135%,
    168% {
        content: "Software Development Life Cycle";
        color: rgb(44, 44, 44)
    }
}